*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
build/
.kotlin/
xcuserdata/
*.xcuserstate
DerivedData/
/capture
.externalNativeBuild
.cxx
local.properties
kotlin-js-store
google-services.json
**/google-services.json
GoogleService-Info.plist
**/GoogleService-Info.plist
